html {
  scroll-behavior: smooth;
}


body {
    background-image: url('imagenfondo2.png');
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    z-index: -1;
}

.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: center; 
}

.navbar-brand {
    margin-right: auto;
}

.nav-link {
    margin: 0 10px;
}



.imagen-icono{
    height: 30px;
    width: 100px;
}

.trucos{
    padding: 40px ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trucos .row div{
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fondo-oscuro{
    background-color: #1b1b32;
    color: white;
}

.carousel-item img {
    width: 200px;
    height: 600px;      
    object-fit: cover;  
    object-position: center; 
}

h2, .texto{
    color:white;
}



.card{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}

.card .carta{
    height: 150px;
}



.titulo{
    margin:  40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f6f7;
}