body {
    background-image: url('photos/imagenfondo2.png');
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    z-index: -1;
}


.registro-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
